@font-face {
  font-family: "Montserrat Light";
  src: url("chrome-extension://oaabebfnojoimeoeljhpdhibcfdcjlic/assets/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Montserrat Medium";
  src: url("chrome-extension://oaabebfnojoimeoeljhpdhibcfdcjlic/assets/Montserrat-Medium.ttf");
}

/* Main styles - START */
.sapphire-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(14, 131, 167, 0.3);

  opacity: 0;
  visibility: hidden;
  z-index: 100;
}

.sapphire-menu {
  position: relative;
  width: 0;
  height: 0;

  border: 2px solid #000;
  border-radius: 50%;
  /* background: linear-gradient(#33ccff, #ff0066); */
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);

  opacity: 0;
  visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  user-select: none;
}

.sapphire-menu__logo {
  width: 0;
  height: 0;

  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

.sapphire-menu__menu {
  position: absolute;
  top: 40px;
  width: max-content;

  padding: 0;
  margin-left: 240px;

  overflow: hidden;
  list-style: none;

  opacity: 0;
  visibility: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.sapphire-menu__item {
  padding: 4px 10px;

  cursor: pointer;

  color: #fff;
  font-family: "Montserrat Light";

  border: solid black;
  border-width: 1px 1px 0 1px;
  background-color: #33ccff;
}

/* Add bottom border to last menu item */
.sapphire-menu__item:nth-last-of-type(1) {
  border-bottom: 1px solid black;
}

.sapphire-menu__item:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4) inset;
}

.sapphire-button {
  padding: 2px 4px;
  font-family: 'Montserrat Medium';

  color: #fff;
  cursor: pointer;
  background-color: #00bfff;
}

.sapphire-button:hover {
  background-color: #33ccff;
}

.sapphire-dialog {
  padding: 0;
  margin: auto;
  margin-top: 130px;

  width: 400px;
  min-width: 80vw;
  height: 60vh;
  min-height: 200px;

  border: 1px solid black;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 50%);
  background-color: #fff;

  opacity: 0;
  visibility: hidden;
}

.sapphire-dialog__nav {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #33ccff;
}

.sapphire-dialog__title {
  flex-grow: 1;

  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
}

.sapphire-dialog__button-close {
  color: #000;

  padding: 0 6px;
  margin: 0;

  border: none;
  background-color: transparent;
}

.sapphire-dialog__button-close:hover {
  color: #fff;
}

.sapphire-dialog__content {
  padding: 2px 6px;
  margin: 0;

  width: 100%;
  border-top: 1px solid black;
}

.sapphire-dialog__content * {
  font-family: 'Montserrat Medium';
}
/* Main styles - END */

/* Helper styles - START */
.sapphire--flex {
  display: flex;
}

.sapphire--flex-grow {
  flex-grow: 1;
}

.sapphire-m-auto {
  margin: auto;
}

.sapphire--mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.sapphire--mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.sapphire--mx-1 {
  margin-left: calc(1rem * 0.25);
  margin-right: calc(1rem * 0.25);
}

.sapphire--mx-2 {
  margin-left: calc(1rem * 0.5);
  margin-right: calc(1rem * 0.5);
}

.sapphire--mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.sapphire--mx-4 {
  margin-left: calc(1rem * 1.5);
  margin-right: calc(1rem * 1.5);
}

.sapphire--mx-5 {
  margin-left: calc(1rem * 3);
  margin-right: calc(1rem * 3);
}

.sapphire--my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.sapphire--my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.sapphire--my-1 {
  margin-top: calc(1rem * 0.25);
  margin-bottom: calc(1rem * 0.25);
}

.sapphire--my-2 {
  margin-top: calc(1rem * 0.5);
  margin-bottom: calc(1rem * 0.5);
}

.sapphire--my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sapphire--my-4 {
  margin-top: calc(1rem * 1.5);
  margin-bottom: calc(1rem * 1.5);
}

.sapphire--my-5 {
  margin-top: calc(1rem * 3);
  margin-bottom: calc(1rem * 3);
}

.sapphire--hidden {
  display: none;
}
/* Helper styles - END */
